<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Cadastrar_Cliente</servlet-name>
        <servlet-class>Servicos.Cadastrar_Cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastrar_Classificacao</servlet-name>
        <servlet-class>Servicos.Cadastrar_Classificacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Sistema</servlet-name>
        <servlet-class>Servicos.Login_Sistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastrar_Genero</servlet-name>
        <servlet-class>Servicos.Cadastrar_Genero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastrar_Produtora</servlet-name>
        <servlet-class>Servicos.Cadastrar_Produtora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastrar_Diretor</servlet-name>
        <servlet-class>Servicos.Cadastrar_Diretor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cadastrar_Filme</servlet-name>
        <servlet-class>Servicos.Cadastrar_Filme</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cadastrar_Cliente</servlet-name>
        <url-pattern>/Cadastrar_Cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastrar_Classificacao</servlet-name>
        <url-pattern>/Cadastrar_Classificacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Sistema</servlet-name>
        <url-pattern>/Login_Sistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastrar_Genero</servlet-name>
        <url-pattern>/Cadastrar_Genero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastrar_Produtora</servlet-name>
        <url-pattern>/Cadastrar_Produtora</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastrar_Diretor</servlet-name>
        <url-pattern>/Cadastrar_Diretor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cadastrar_Filme</servlet-name>
        <url-pattern>/Cadastrar_Filme</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
